
.map-container {
  max-width: 1120px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 20px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  overflow: hidden; 
}


.maplibre-map {
  height: 350px;
  width: 100%;
}

.marker {
  font-size: 24px;
}