::ng-deep .mat-tab-header {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-tab-labels {
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

nav {
  position: relative;
}

svg.w-10.h-10 {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.35));
  transition: transform 0.6s ease;
}

.line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #d1d5db; 
  transition: width 0.6s ease;
}

.plane {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.6s ease;
}


.logo {
  font-size: 2.8rem;
  font-weight: 600;
  background: linear-gradient(90deg, #ffffff, #ff9c07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: fadeIn 1s ease-out forwards; 
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  text-shadow: 0 2px 8px rgba(118, 75, 162, 0.4);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

