<div class="hotel-search-container">

  <div *ngIf="showContinueButton" class="continue-without-flight">
    <button mat-raised-button color="primary" (click)="continueWithoutFlight()">
      Continue Without Selecting a flight
    </button>
  </div>

  <div class="search-header">
    <h1 class="search-title">✈️ Flight Offers</h1>
  </div>


  <div *ngIf="error" class="error-container">
    <h3 class="error-title">Error</h3>
    <p class="error-message">{{ error }}</p>
  </div>

  <div class="search-card">

    <!-- Departure City -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Departure City</mat-label>
      <input type="text" matInput [formControl]="departureCityControl" [matAutocomplete]="autoDeparture"
        placeholder="Type city name or IATA..." />
      <mat-autocomplete #autoDeparture="matAutocomplete" [displayWith]="displayCity"
        (optionSelected)="onDepartureCitySelectedFlight($event.option.value)">
        <mat-option class="city-input mat-option" *ngFor="let city of filteredDepartureCities | async" [value]="city">
          {{ city.city_name }} ({{ city.city_iata_code }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Destination City -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Destination City</mat-label>
      <input type="text" matInput [formControl]="destinationCityControl" [matAutocomplete]="autoDestination"
        placeholder="Type city name or IATA..."/>
      <mat-autocomplete #autoDestination="matAutocomplete" [displayWith]="displayCity"
        (optionSelected)="onDestinationCitySelectedFlight($event.option.value)">
        <mat-option class="city-input mat-option" *ngFor="let city of filteredDestinationCities | async" [value]="city">
          {{ city.city_name }} ({{ city.city_iata_code }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <div class="search-input-group">
      <label class="input-label" for="">Date</label>
      <input type="date" class="city-input" [(ngModel)]="departureDate" />
    </div>

    <div class="search-input-group">
      <label class="input-label">Adults</label>
      <input type="number" class="city-input" [(ngModel)]="adults" min="1" />
    </div>
    <button
      class="bg-white text-blue-600 font-semibold px-4 py-2 rounded shadow hover:bg-blue-100 transition search-btn"
      (click)="searchFlights();">
      {{ isLoading ? '🔄 Processing...' : '🔍 Search Flight Offers' }}
    </button>
  </div>

  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
    <p class="loading-text">Searching flight offers...</p>
  </div>

  <div *ngIf="!isLoading && flightOffers.length > 0" class="results-container">
    <h2 class="results-title">
      Available Flight Offers
      <span class="results-count">{{ flightOffers.length }}</span>
    </h2>

    <div class="hotels-grid">
      <div *ngFor="let offer of flightOffers" class="hotel-card">
        <h3 class="hotel-name">{{ offer.itineraries[0]?.segments[0]?.carrierCode }} {{
          offer.itineraries[0]?.segments[0]?.number }}</h3>
        <div class="hotel-details">
          <div class="detail-item">
            <span class="detail-label">Origin</span>
            <span class="detail-value">{{ offer.itineraries[0]?.segments[0]?.departure?.iataCode }}</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Destination</span>
            <span class="detail-value">{{ offer.itineraries[0]?.segments[0]?.arrival?.iataCode }}</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Price</span>
            <span class="detail-value">{{ offer.price?.total }} {{ offer.price?.currency }}</span>
          </div>
          <button class="search-btn" mat-raised-button color="primary" 
            (click)="selectFlight(offer);">
            ✅Select Flight
          </button>
        </div>
      </div>
    </div>
  </div>


</div>