<div mat-dialog-content #summaryContent *ngIf="summaryData" class="space-y-4">
    <h2 class="summary-card">Your Travel Summary</h2>

    <mat-card class="hotel-card">
        <h3>Trip Details</h3>
        <p><strong>From:</strong> {{ summaryData.departure_city }} ({{ summaryData.departure_city_iata_code }})</p>
        <p><strong>To:</strong> {{ summaryData.target_city }} ({{ summaryData.target_city_iata_code }})</p>
        <p><strong>Dates:</strong> {{ summaryData.departure_date }} → {{ summaryData.return_date || "You didn't entered return date :/" }}</p>
        <p><strong>Adults:</strong> {{ summaryData.adult }}</p>
    </mat-card>

    <mat-card *ngIf="summaryData.selectedFlight" class="hotel-card">
        <h3>Flight</h3>
        <p><strong>Flight:</strong> {{ summaryData.selectedFlight.name }}</p>
        <p><strong>From:</strong> {{ summaryData.selectedFlight.from }} → {{ summaryData.selectedFlight.to }}</p>
        <p><strong>Price:</strong> {{ summaryData.selectedFlight.price }}</p>
    </mat-card>

    <mat-card *ngIf="summaryData.selectedHotel" class="hotel-card">
        <h3>Hotel</h3>
        <p><strong>Name:</strong> {{ summaryData.selectedHotel.name }}</p>
        <p><strong>Nights:</strong> {{ summaryData.selectedHotel.nights }}</p>
        <p><strong>Address:</strong>  {{ summaryData.selectedHotel.address }}</p>
    </mat-card>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close class="hotel-card">Close</button>
    <button mat-raised-button color="accent" (click)="startNewSearch()" class="hotel-card">Start New Search</button>
    <button mat-raised-button color="warn" (click)="downloadPdf()" class="hotel-card">Download PDF</button>
</div>